<h2 style="text-align: center;">Student Details of class 12</h2>
<th>

    <table border="10" style="border: 3px solid rgb(6, 51, 164); border-width: 5px;">
      <tr >
        <th>Regd. No</th>
        <th>Name</th>
        <th>Stream</th>
        <th>City</th>
        <th>Phone no</th>
      </tr>
      <tr>
        <td>121597</td>
       <td>Sumit</td>
       <td>Science</td>
       <td>Kitshwar</td>
       <td>9768212058</td>
      </tr>
      <tr>
        <td>121596</td>
        <td>Avnish</td>
        <td>Science</td>
        <td>New Delhi</td>
        <td>9772118038</td>
      </tr>
      <tr>
        <td>121557</td>
        <td>Vikalp</td>
        <td>Humanities</td>
        <td>Rewa</td>
        <td>7798278618</td>
      </tr>
      <tr>
        <td>121534</td>
        <td>Saswat</td>
        <td>Science</td>
        <td>Bhubaneswar</td>
        <td>9778218658</td>
      </tr>
      <tr>
        <td>121521</td>
        <td>Rahul</td>
        <td>Commerce</td>
        <td>Kolkata</td>
        <td>9758498652</td>
      </tr>
    </table>

